<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CKA Home</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <h1>Cartoon Kickball Association (CKA)</h1>
  <ul>
    <% @teams.each do |team| %>
      <li><a href = "/teams/<%= team.name %>"> <%= team.name %></a></li>
    <% end %>
  </ul>
</body>

</html>
