<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CKA Positions</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <h1>LACKP Positions</h1>
  <ul>
    <% @positions.each do |position| %>
      <li>
        <a href = "/positions/<%= position %>"> <%= position %></a>
      </li>
    <% end %>
  </ul>
</body>

</html>
