<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LACKP Positions</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <h1><%="#{@position} Players"%></h1>
  <ul>
    <%@teams.each do |team|%>
      <%team.players.each do |player|%>
        <%if player.position == @position%>
          <li><%="#{player.name}"%></li>
        <%end%>
      <%end%>
    <%end%>
  </ul>
</body>

</html>
