<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>team_info</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>

  <h1>
    <%= @team[0] %>
  </h1>

  <p>
<%= binding.pry %>    
    <% @team.values[1].each do |key, value| %>
    <ul>
      <li>
        <%= key %> - <%= value %>
      </li>
    </ul>
    <% end %>
  </p>

</body>
